* text=auto


# Ігноруємо зміни у переносах рядків для .env
.env text eol=lf

# Встановлюємо стиль переносу рядків для скриптів
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
