<section class="first-section">
  <button type="button" class="first-section-btn" data-modal-open>ENTER</button>

  <div class="modal-overlay is-open" data-modal>
    <div class="modal">
      <button class="modal-btn-close" type="button" data-modal-close>
      </button>
      <p class="modal-text-title">ADMIN</p>
      <form class="modal-form">
        <div class="modal-input">
          <label for="user-name" class="modal-label">Login</label>
          <div class="modal-input-cont">
            <input
              type="text"
              id="user-name"
              class="modal-input-box"
              name="user-name"
            />
            
          </div>
        </div>
        <div class="modal-input">
          <label for="user-email" class="modal-label">Password</label>
          <div class="modal-input-cont">
            <input
              type="password"
              id="user-email"
              name="user-email"
              class="modal-input-box"
            />
            
          </div>
        </div>
        <button class="first-section-btn" type="submit">ENTER</button>
      </form>
    </div>
  </div>
  <script src="../js/admin.js"></script>
</section>
