<section class="informations">
  <svg class="info-back-icon" preserveAspectRatio="xMidYMid meet">
    <use href="..//img/icons.svg#icon-group-18"></use>
  </svg>
  <div class="informations-cotainer container">
    <ul class="info-nav">
      <li class="info-btn">
        <button>
          <h2 class="info-btn-title">Історія</h2>
        </button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Правління</h2></button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Правила</h2></button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Контакти</h2></button>
      </li>
    </ul>
  </div>
</section>
