<section class="informations">
  <div class="informations-cotainer container">
    <ul class="info-nav">
      <li class="info-btn">
        <button>
          <h2 class="info-btn-title">Історія</h2>
        </button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Правління</h2></button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Правила</h2></button>
      </li>
      <li class="info-btn">
        <button><h2 class="info-btn-title">Контакти</h2></button>
      </li>
    </ul>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="info-back-icon"
      viewBox="0 0 1440 905"
      fill="none"
    >
      <g id="info-back">
        <g id="Ellipse 1" filter="url(#filter0_f_43_209)">
          <circle
            cx="887.547"
            cy="525.101"
            r="217.5"
            transform="rotate(-50.9825 887.547 525.101)"
            fill="#B4019C"
          />
        </g>
        <g id="Ellipse 4" filter="url(#filter1_f_43_209)">
          <circle
            cx="1139.55"
            cy="505.101"
            r="217.5"
            transform="rotate(-50.9825 1139.55 505.101)"
            fill="#B44C01"
          />
        </g>
        <g id="Ellipse 2" filter="url(#filter2_f_43_209)">
          <circle
            cx="669.547"
            cy="328.1"
            r="217.5"
            transform="rotate(-50.9825 669.547 328.1)"
            fill="#10B401"
          />
        </g>
        <g id="Ellipse 7" filter="url(#filter3_f_43_209)">
          <circle
            cx="331.916"
            cy="421.175"
            r="217.5"
            transform="rotate(-50.9825 331.916 421.175)"
            fill="#3CC064"
          />
        </g>
        <g id="Ellipse 6" filter="url(#filter4_f_43_209)">
          <circle
            cx="1075.92"
            cy="575.176"
            r="119.661"
            transform="rotate(-50.9825 1075.92 575.176)"
            fill="#10B401"
          />
        </g>
        <g id="Ellipse 5" filter="url(#filter5_f_43_209)">
          <circle
            cx="919.547"
            cy="360.175"
            r="217.5"
            transform="rotate(-50.9825 919.547 360.175)"
            fill="#01B437"
          />
        </g>
        <g id="Ellipse 3" filter="url(#filter6_f_43_209)">
          <circle
            cx="1107.55"
            cy="360.1"
            r="217.5"
            transform="rotate(-50.9825 1107.55 360.1)"
            fill="#0178B4"
          />
        </g>
      </g>
      <defs>
        <filter
          id="filter0_f_43_209"
          x="470.04"
          y="107.594"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter1_f_43_209"
          x="722.04"
          y="87.5935"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter2_f_43_209"
          x="252.04"
          y="-89.4073"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter3_f_43_209"
          x="-85.5909"
          y="3.66772"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter4_f_43_209"
          x="756.251"
          y="255.51"
          width="639.33"
          height="639.33"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter5_f_43_209"
          x="502.04"
          y="-57.3326"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
        <filter
          id="filter6_f_43_209"
          x="690.04"
          y="-57.4075"
          width="835.014"
          height="835.014"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_43_209"
          />
        </filter>
      </defs>
    </svg>
  </div>
</section>
