.first-section-btn {
  border-radius: 8px;
  width: 254px;
  height: 50px;
  border: none;
  background: #003b0a;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: 0.06em;
  color: #fff;
  cursor: pointer;
  padding: 0 64px;
  text-align: center;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover,
.first-section-btn:focus {
  box-shadow: 0 0 2px 2px rgba(0, 59, 10, 0.35);
  background: linear-gradient(90deg, #003b0a 0%, #00a11c 100%);
}

.first-section-btn:active {
  background: linear-gradient(90deg, #003b0a 0%, #00a11c 0.01%);
}

/* Modal overlay  */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay {
  visibility: hidden;
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 10px;
  width: 670px;
  height: 427px;

  position: absolute;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0.6) 0%,
    rgba(115, 115, 115, 0.6) 100%
  );
  padding: 36px 67px 42px 67px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  border-radius: 50%;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus .modal-btn-icon,
.modal-btn-close:hover .modal-btn-icon {
  fill: #ffffff;
}

.modal-text-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #000;
  line-height: 1.5;
  margin-bottom: 16px;
}

.modal-input {
  width: 256px;
  margin-bottom: 8px;
}

.modal-input:nth-child(4) {
  margin-bottom: 16px;
}

.modal-label {
  font-weight: 500;
  font-size: 24px;
  color: #000;

  line-height: 1.17;
  letter-spacing: 0.04em;

  display: block;
  margin-bottom: 12px;
}

.modal-input-cont {
  position: relative;
}

.modal-input-box {
  border: 2px solid #035e13;
  border-radius: 42px;
  width: 536px;
  height: 70px;
  box-shadow: 0 0 4px 4px rgba(0, 59, 10, 0.35);
  background: #d9d9d9;
  padding-left: 16px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-box:focus {
  border-color: #4de599;
}

.modal-input-box::placeholder {
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-check {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.check-box {
  flex-shrink: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check:checked ~ label .check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
